<div class="container">
    <div class="d-flex justify-content-between">
        <h4>Form User</h4>
        <a href="#" routerLink="/user/index" class="btn btn-primary">Back</a>
    </div>
    <hr/>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group row">
            <div class="col-md-6 ">
                <label for="nama">Nama:</label>
                <input
                    formControlName="nama"
                    id="nama"
                    type="text"
                    class="form-control">
                <div *ngIf="f.nama.invalid" class="alert alert-danger">
                    <div *ngIf="f.nama.errors.required">*Nama is required.</div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 ">
                <label for="role">Role:</label>
                <select formControlName="role" class="form-control">
                    <option *ngIf="role == 'Admin'" value="Admin">Admin</option>
                    <option *ngIf="role == 'Admin'" value="Staff">Staff</option>
                    <option value="Pembeli">Pembeli</option>
                </select>
                <div *ngIf="f.role.touched && f.role.invalid" class="alert alert-danger">
                    <div *ngIf="f.role.errors.required">*Role is required.</div>
                </div>
            </div>
        </div>

        <div class="form-group row" *ngIf="role == 'Staff'">
            <div class="col-md-6 ">
                <label for="jenis_kelamin">Jenis Kelamin:</label>
                <select formControlName="jenis_kelamin" class="form-control">
                    <option value="Laki-laki">Laki-laki</option>
                    <option value="Perempuan">Perempuan</option>
                </select>
                <div *ngIf="f.jenis_kelamin.touched && f.jenis_kelamin.invalid" class="alert alert-danger">
                    <div *ngIf="f.jenis_kelamin.errors.required">*Jenis Kelamin is required.</div>
                </div>
            </div>
        </div>

        <div class="form-group row" *ngIf="role == 'Staff'">
            <div class="col-md-6 ">
                <label for="alamat">Alamat:</label>
                <input
                    formControlName="alamat"
                    id="alamat"
                    type="text"
                    class="form-control">
                <div *ngIf="f.alamat.touched && f.alamat.invalid" class="alert alert-danger">
                    <div *ngIf="f.alamat.errors.required">*Alamat is required.</div>
                </div>
            </div>
        </div>

        <div class="form-group row" *ngIf="role == 'Staff'">
            <div class="col-md-6 ">
                <label for="tempat_lahir">Tempat Lahir:</label>
                <input
                    formControlName="tempat_lahir"
                    id="tempat_lahir"
                    type="text"
                    class="form-control">
                <div *ngIf="f.tempat_lahir.touched && f.tempat_lahir.invalid" class="alert alert-danger">
                    <div *ngIf="f.tempat_lahir.errors.required">*Tempat Lahir is required.</div>
                </div>
            </div>
        </div>

        <div class="form-group row" *ngIf="role == 'Staff'">
            <div class="col-md-6 ">
                <label for="tgl_lahir">Tanggal Lahir:</label>
                <input
                    formControlName="tgl_lahir"
                    id="tgl_lahir"
                    type="date"
                    class="form-control">
                <div *ngIf="f.tgl_lahir.touched && f.tgl_lahir.invalid" class="alert alert-danger">
                    <div *ngIf="f.tgl_lahir.errors.required">*Tanggal Lahir is required.</div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 ">
                <label for="username">Username:</label>
                <input
                    formControlName="username"
                    id="username"
                    type="text"
                    class="form-control">
                <div *ngIf="f.username.touched && f.username.invalid" class="alert alert-danger">
                    <div *ngIf="f.username.errors.required">*Username is required.</div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 ">
                <label for="password">Password:</label>
                <input
                    formControlName="password"
                    id="password"
                    type="password"
                    class="form-control">
                <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                    <div *ngIf="f.password.errors.required">*Password is required.</div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 ">
                <label for="confirm_password">Konfirmasi Password:</label>
                <input
                    formControlName="confirm_password"
                    id="confirm_password"
                    type="password"
                    class="form-control">
                <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
                    <div *ngIf="f.confirm_password.errors.required">*Confirm Password is required.</div>
                </div>
            </div>
        </div>

        <div class="form-group row" *ngIf="role == 'Staff'">
            <div class="col-md-6">
                <label for="file_ktp">File KTP:</label>
                <input 
                    formControlName="file_ktp"
                    id="file_ktp" 
                    type="file" 
                    multiple
                    class="form-control"
                    (change)="onFileChange($event)">
                <div *ngIf="f.file_ktp.touched && f.file_ktp.invalid" class="alert alert-danger">
                    <div *ngIf="f.file_ktp.errors.required">*File KTP is required.</div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>