<div class="container">
    <div class="d-flex justify-content-between">
        <h4>Form Barang</h4>
        <a href="#" routerLink="/barang/index" class="btn btn-primary">Back</a>
    </div>
    <hr/>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group row">
            <div class="col-md-6 ">
                <label for="nama">Nama:</label>
                <input
                    formControlName="nama"
                    id="nama"
                    type="text"
                    class="form-control">
                <div *ngIf="f.nama.invalid" class="alert alert-danger">
                    <div *ngIf="f.nama.errors.required">*Nama is required.</div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 ">
                <label for="deskripsi">Deskripsi:</label>
                <input
                    formControlName="deskripsi"
                    id="deskripsi"
                    type="text"
                    class="form-control">
                <div *ngIf="f.deskripsi.touched && f.deskripsi.invalid" class="alert alert-danger">
                    <div *ngIf="f.deskripsi.errors.required">*Deskripsi is required.</div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 ">
                <label for="jenis">Jenis:</label>
                <input
                    formControlName="jenis"
                    id="jenis"
                    type="text"
                    class="form-control">
                <div *ngIf="f.jenis.touched && f.jenis.invalid" class="alert alert-danger">
                    <div *ngIf="f.jenis.errors.required">*Jenis is required.</div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 ">
                <label for="stok">Stok:</label>
                <input
                    formControlName="stok"
                    id="stok"
                    type="number"
                    class="form-control">
                <div *ngIf="f.stok.touched && f.stok.invalid" class="alert alert-danger">
                    <div *ngIf="f.stok.errors.required">*Stok is required.</div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 ">
                <label for="harga_beli">Harga Beli:</label>
                <input
                    formControlName="harga_beli"
                    id="harga_beli"
                    type="number"
                    class="form-control">
                <div *ngIf="f.harga_beli.touched && f.harga_beli.invalid" class="alert alert-danger">
                    <div *ngIf="f.harga_beli.errors.required">*Harga Beli is required.</div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 ">
                <label for="harga_jual">Harga Jual:</label>
                <input
                    formControlName="harga_jual"
                    id="harga_jual"
                    type="number"
                    class="form-control">
                <div *ngIf="f.harga_jual.touched && f.harga_jual.invalid" class="alert alert-danger">
                    <div *ngIf="f.harga_jual.errors.required">*Harga Jual is required.</div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                <label for="gambar">Gambar:</label>
                <input 
                    formControlName="gambar"
                    id="gambar" 
                    type="file" 
                    multiple
                    class="form-control"
                    (change)="onFileChange($event)">
                <div *ngIf="f.gambar.touched && f.gambar.invalid" class="alert alert-danger">
                    <div *ngIf="f.gambar.errors.required">*Gambar is required.</div>
                </div>
            </div>
        </div>

        <input
                type="text"
                formControlName="created_by"
                id="created_by"
                [hidden]="true"
                class="form-control">

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>