<section>

    <div class="d-flex justify-content-between">
        <h4>List Barang</h4>
        <a routerLink="/barang/create" class="btn btn-success">Input Barang</a>
    </div>

    <br>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nama</th>
                <th>Stok</th>
                <th>Harga Beli</th>
                <th>Harga Jual</th>
                <th width="220px">Action</th>
            </tr>
        </thead>
        <tbody *ngIf="barang.length; else empty_data">
            <tr *ngFor="let data of barang">
                <td>{{ data.nama }}</td>
                <td>{{ data.stok }}</td>
                <td>{{ data.harga_beli }}</td>
                <td>{{ data.harga_jual }}</td>
                <td>
                    <a href="#" [routerLink]="['/barang/', 'edit', data.id  ]" class="btn btn-warning me-2">Edit</a>
                    <button type="button" (click)="deleteBarang(data.id)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
        <ng-template #empty_data>
            <tr>
                <td class="text-center" colspan="6">Data Kosong</td>
            </tr>
        </ng-template>
    </table>
</section>
