<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first my-3">
            Log In
        </div>

        <form [formGroup]="form" (ngSubmit)="submit()">
            <input type="text" formControlName="username" id="username" class="fadeIn second" name="username" placeholder="Username">
            <input type="password" formControlName="password" id="password" class="fadeIn third" name="password" placeholder="Password">
            <button type="submit" class="fadeIn fourth btn btn-primary m-4">Log In</button>
        </form>
    </div>
</div>